.count {
	font-size: 1.6em;
	font-weight: normal;
}
.label {
	font-family: sans-serif;
	font-size: 1.1em;
	font-weight: 500;
}
.line {
	stroke: rgba(100, 55, 55, 0.85);
	stroke-width: 2px;
}
.node {
	fill: rgba(255, 255, 128, 1);
	stroke: rgba(0, 0, 255, 0.75);
	stroke-width: 2px;
}
.prob {
	font-size: 1.5em;
	font-weight: normal;
}
.title {
	font-size: 1.4em;
	font-family: sans-serif;
}
#main {
	display: flex;
	margin-bottom: 1em;
}
#numbs {
	display: block;
	float: left;
}
#probs {
	display: block;
	float: right;
}
